<main>
 {{> shoppost}}
  <br />
  <hr />
  <section>
    {{#with goodsBlock}}
      <div class='nav nav-tabs my-2'>
        {{#each tabs}}
          <div class='nav-item'>

            <a  class='nav-link  {{#if isActive}} active 
            {{else}}
            {{#isDisabled}} disabled {{/isDisabled}}
            {{/if}}'>{{text}}</a>
          </div>
        {{/each}}
      </div>
  </section> 
    {{/with}}

   {{> shopcard}}
  <hr>
  <section>
    {{#with subscribe}}
    <div class="card text-bg-dark">
        <div class="card-body ">
            <h2 class="m-3">{{header}}</h2>
        <span class="m-3">{{description}}</span>
        <br>
        {{#each buttons}}
        <div class="p-2">
        <a  href="{{link}}" class="btn btn-primary m-2 " >{{text}}</a>
        </div>
        {{/each}}
        </div>
    </div>
    {{/with}}
  </section>
  <hr>
  {{> shopaction}}
   
  <hr>

</main>
