<main>
  <section>
    {{#with newsBlock}}
      <h2 class='text-center mb-4'>{{title}}</h2>
      <div class='row'>
        {{#each cards}}
          <div class='card col-3 text-bg-dark g-3'>
            <div class='card-header'>{{title}}
              <div>
                {{#if isNew}}
                  <div
                    class='badge rounded-pill text-bg-success'
                  >
                    Нове
                  </div>
                {{/if}}
                {{#if isTop}}
                  <div
                    class='badge rounded-pill text-bg-danger'
                  >
                    Топ
                  </div>
                {{/if}}
              </div>
            </div>
            <div class='card-body'>
              <q>{{description}}</q>
            </div>
          </div>
        {{/each}}
      </div>
    {{/with}}
  </section>
  <br />
  <hr />
  <section>
    {{#with goodsBlock}}
      <div class='nav nav-tabs my-2'>
        {{#each tabs}}
          <div class='nav-item'>

            <a  class='nav-link  {{#if isActive}} active 
            {{else}}
            {{#isDisabled}} disabled {{/isDisabled}}
            {{/if}}'>{{text}}</a>
          </div>
        {{/each}}
      </div>
  </section> 
    {{/with}}

   {{> shopcard}}
  <hr>
  <section>
    {{#with subscribe}}
    <div class="card text-bg-dark">
        <div class="card-body ">
            <h2 class="m-3">{{header}}</h2>
        <span class="m-3">{{description}}</span>
        <br>
        {{#each buttons}}
        <div class="p-2">
        <a  href="{{link}}" class="btn btn-primary m-2 " >{{text}}</a>
        </div>
        {{/each}}
        </div>
    </div>
    {{/with}}
  </section>
  <hr>
  {{> shopaction}}
   
  <hr>

</main>
