{{#with footer}}
    <div class="row">
        <div class="col-2">
        {{#each [0]}}
        <div class="nav flex-column">
            <div class="nav-item m-2">
                <a class="nav-link {{#if @last}} disabled{{/if}}" href="{{link}}">{{text}}</a>
            </div>

        </div>
        {{/each}}
        </div>
        

         
        <div class="col-2">
        {{#each [1]}}
        <div class="nav flex-column">
            <div class="nav-item m-2">
                <a class="nav-link {{#if @last}} disabled{{/if}}" href="{{link}}">{{text}}</a>
            </div>

        </div>
        {{/each}}
        </div>
         <div class="col-2">
        {{#each [2]}}
        <div class="nav flex-column">
            <div class="nav-item m-2">
                <a class="nav-link {{#if @last}} disabled{{/if}}" href="{{link}}">{{text}}</a>
            </div>

        </div>
        {{/each}}
        </div>
         <div class="col-2">
        {{#each [3]}}
        <div class="nav flex-column">
            <div class="nav-item m-2">
                <a class="nav-link {{#if @last}} disabled{{/if}}" href="{{link}}">{{text}}</a>
            </div>
        </div>
        {{/each}}
        </div>
         <div class="col-2">
        {{#each [4]}}
        <div class="nav flex-column">
            <div class="nav-item m-2">
                <a class="nav-link {{#if @last}} disabled{{/if}}" href="{{link}}">{{text}}</a>
            </div>

        </div>
        {{/each}}
        </div>
        </div>   
    {{/with}}